<extend name="Public/Templates/AdminLTE/html/base.html" />
<block name="title">AdminLTE 2 | Category List</block>
<block name="css-files">
    <!-- DataTables -->
    <link rel="stylesheet" href="__PUBLIC__/plugins/datatables/dataTables.bootstrap.css">
</block>
<block name="content-wrapper">
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
		    Category Data List
		    <small>categoryList</small>
		  </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                <li><a href="#">Admin</a></li>
                <li class="active">Category Data List</li>
            </ol>
        </section>
        <!-- Main content -->
        <section class="content">
            <div class="row" id="categoryListBox">
                <!-- #categoryListBox -->
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-header">
                            <h3 class="box-title">Category Data List</h3>
                            <div class="box-tools">
                                <ul class="pagination pagination-sm no-margin pull-right">
                                    <div class="btn-group btn-group-sm">
                                        <button type="button" class="btn btn-default btn-control-box" title="添加" target-box-id="categoryAddBox" exclude-box-id="categoryModifyBox"><i class="fa fa-plus"></i></button>
                                        <button type="button" class="btn btn-default btn-delete" title="删除"><i class="fa fa-trash"></i></button>
                                    </div>
                                </ul>
                            </div>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <table id="categoryList" class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>
                                            <input type="checkbox" class="check-all check">
                                        </th>
                                        <th>id</th>
                                        <th>category_name</th>
                                        <th>description</th>
                                        <th>isshow</th>
                                        <th>owner_uid</th>
                                        <th>create_time</th>
                                        <th>update_time</th>
                                        <th>operate</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>
                                            <input type="checkbox" class="check-all check">
                                        </th>
                                        <th>id</th>
                                        <th>category_name</th>
                                        <th>description</th>
                                        <th>isshow</th>
                                        <th>owner_uid</th>
                                        <th>create_time</th>
                                        <th>update_time</th>
                                        <th>operate</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                </div>
                <!-- /.col -->
                <div class="col-xs-6">
                    <div class="box hidden" id="categoryAddBox">
                        <!-- #categoryAddBox -->
                        <div class="box-header">
                            <h3 class="box-title">Add Category Data</h3>
                            <div class="box-tools">
                                <ul class="pagination pagination-sm no-margin pull-right">
                                    <div class="btn-group btn-group-sm">
                                        <button type="button" class="btn btn-default btn-close-box" title="关闭" id=""><i class="fa fa-close"></i></button>
                                    </div>
                                </ul>
                            </div>
                        </div>
                        <!-- /.box-header -->
                        <form class="form-horizontal" action="{:U('Article/Category/modifyCategory')}" method="post">
                            <div class="box-body">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Father Category</label>
                                    <div class="col-sm-10">
                                        <select name="father_id" class="form-control select2" style="width: 100%;">
                                            <option selected="selected">As Top Category</option>
                                            <option>Alaska</option>
                                            <option>California</option>
                                            <option>Delaware</option>
                                            <option>Tennessee</option>
                                            <option>Texas</option>
                                            <option>Washington</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Category Name</label>
                                    <div class="col-sm-10">
                                        <input name="category_name" class="form-control" id="category_name" placeholder="Category Name" type="text">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">keywords</label>
                                    <div class="col-sm-10">
                                        <input name="keywords" class="form-control" id="keywords" placeholder="keywords" type="text">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">description</label>
                                    <div class="col-sm-10">
                                        <input name="description" class="form-control" id="description" placeholder="description" type="text">
                                    </div>
                                </div>
                            </div>
                            <!-- /.box-body -->
                            <div class="box-footer">
                                <button type="submit" class="btn btn-default">Cancel</button>
                                <button type="submit" class="btn btn-info pull-right">Submit</button>
                            </div>
                            <!-- /.box-footer -->
                        </form>
                    </div>
                    <!-- /.box -->
                    <div class="box hidden" id="categoryModifyBox">
                        <!-- #categoryModifyBox -->
                        <div class="box-header">
                            <h3 class="box-title">Modify Category Data</h3>
                            <div class="box-tools">
                                <ul class="pagination pagination-sm no-margin pull-right">
                                    <div class="btn-group btn-group-sm">
                                        <button type="button" class="btn btn-default btn-close-box" title="关闭" id=""><i class="fa fa-close"></i></button>
                                    </div>
                                </ul>
                            </div>
                        </div>
                        <!-- /.box-header -->
                        <form class="form-horizontal" action="{:U('Article/Category/modifyCategory')}" method="post">
                            <div class="box-body">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Father Category</label>
                                    <div class="col-sm-10">
                                        <select name="father_id" class="form-control select2" style="width: 100%;">
                                            <option selected="selected">As Top Category</option>
                                            <option>Alaska</option>
                                            <option>California</option>
                                            <option>Delaware</option>
                                            <option>Tennessee</option>
                                            <option>Texas</option>
                                            <option>Washington</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Category Name</label>
                                    <div class="col-sm-10">
                                        <input name="category_name" class="form-control" id="category_name" placeholder="Category Name" type="text">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">keywords</label>
                                    <div class="col-sm-10">
                                        <input name="keywords" class="form-control" id="keywords" placeholder="keywords" type="text">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">description</label>
                                    <div class="col-sm-10">
                                        <input name="description" class="form-control" id="description" placeholder="description" type="text">
                                    </div>
                                </div>
                            </div>
                            <!-- /.box-body -->
                            <div class="box-footer">
                                <button type="submit" class="btn btn-default">Cancel</button>
                                <button type="submit" class="btn btn-info pull-right">Submit</button>
                            </div>
                            <!-- /.box-footer -->
                        </form>
                    </div>
                    <!-- /.box -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
</block>
<block name="js-files">
    <!-- DataTables -->
    <script src="__PUBLIC__/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="__PUBLIC__/plugins/datatables/dataTables.bootstrap.min.js"></script>
    <!-- page script -->
    <script>
    $(function() {
        //DataTable列表
        $('#categoryList').DataTable({
            "serverSide": true,
            "ajax": {
                url: '{:U("Article/Category/dataList")}',
                type: 'POST',
                data: function(d) {}
            },
            "columns": [
	            {"data": "id", "orderable": false, "render": function(data) {
	                    return '<input type="checkbox" class="check-single check" name="" rel="' + data + '">';
	            }}, 
	            {"data": "id"}, 
	            {"data": "category_name"}, 
	            {"data": "description"}, 
	            {"data": "isshow", "render": function(data) {return data == 0 ? '×' : '√'; } }, 
	            {"data": "owner_uid"}, 
	            {"data": "create_time", "render": function(data) {return data > 0 ? date('Y-m-d H:i:s', data) : ''; } }, 
	            {"data": "update_time", "render": function(data) {return data > 0 ? date('Y-m-d H:i:s', data) : ''; } }, 
	            {"data": "id", "orderable": false, "render": function(data, type, row, meta) {
	                    var string = '';
	                    string += '<button type="button" class="btn btn-default btn-control-box btn-modify" title="编辑" target-id="'+data+'" target-box-id="categoryModifyBox" exclude-box-id="categoryAddBox"><i class="fa fa-edit"></i></button>';
	                    string += '<button type="button" class="btn btn-default btn-control-box" title="详情"><i class="fa fa-info"></i></button>';
	                    string = '<div class="btn-group btn-group-sm">' + string + '</div>';
	                    return string
	            }}
            ],
            "order": [[1, "desc"]],
            "paging": true,
            "lengthChange": true,
            "searching": true,
            "ordering": true,
            "info": true,
            "autoWidth": true
        }).on('draw.dt', function() {
            $('input[type="checkbox"], input[type="radio"]').iCheck({
                checkboxClass: 'icheckbox_flat-green',
                radioClass: 'iradio_flat-green'
            });
	    	$('.box').on('click', '#btn-modify', function(event) {
				var $box_id      = $(this).attr('target-box-id');
				var $category_id = $(this).attr('target-id');
				$.ajax({
					url: '{:U("Article/Category/categoryInfo")}?category_id='+$category_id,
					type: 'POST',
					dataType: 'json',
					data: {},
				})
				.done(function() {
					console.log("success");
				})
				.fail(function() {
					console.log("error");
				});
	    	});
        });
    });
    </script>
</block>
